{% extends 'base.html.twig' %}

{% block title %}Automates index{% endblock %}

{% block body %}
    <h1>Automates index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Marque</th>
                <th>Serial</th>
                <th>Config</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for automate in automates %}
            <tr>
                <td>{{ automate.id }}</td>
                <td>{{ automate.nom }}</td>
                <td>{{ automate.marque }}</td>
                <td>{{ automate.serial }}</td>
                <td>{{ automate.config }}</td>
                <td>
                    <a href="{{ path('automates_show', {'id': automate.id}) }}">show</a>
                    <a href="{{ path('automates_edit', {'id': automate.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('automates_new') }}">Create new</a>
{% endblock %}
